body{
    background-color: rgb(88, 0, 88);
}
h1{
    color: white;
    text-align: center;
}
p{
    text-align: center;
    color: white;
}
#QQ{
    text-align: right;
    margin-top: -230px;
}
.gg{
    text-align: left;
    margin-top: 300px;
}
#gg{
    margin-top: 0px;
}
